body {
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr 1fr 350px;
    grid-template-areas: 
        'title title title title title title'
        'previousNotes createAndView createAndView createAndView createAndView search'
        'clearStorage clearStorage clearStorage clearStorage clearStorage clearStorage';
    background-color: #FFF9C4;
    text-align: center;
}

button {
    background-color: #F4A7B9;
    border-radius: 5px;
    border: 1px solid #C0392B;
}

.centerPage {
    grid-area: createAndView;
    height: 850px;
}

#clearStorage {
    grid-area: clearStorage;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #7BA7BC;

}

#contentInput {
    width: 60ch;
    height: 550px;
    max-height: 600px;
}

h2 {
    text-align: center;
    color: #1C1C1C;
}

.input {
    border: 1px solid #7BA7BC;
    border-radius: 5px;
    background-color: #FFFDE7;
}

#noteContentView {
    text-align: left;
    max-width: 60ch;
    overflow-wrap: break-word;
    margin: 0 auto;
}

#noteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#previousNotesSection {
    grid-area: previousNotes;
    text-align: left !important;    
    border-right: 6px double #C0392B;
    overflow-wrap: break-word;

}

section {
    margin: 5px;
    color: #1C1C1C;
}

#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#searchSection {
    grid-area: search;
    border-left: 6px double #C0392B;
}

#title {
    grid-area: title;
    color: #1C1C1C;
    margin: 5px;
    border-bottom: 2px solid #7BA7BC;
    text-align: center;
}

#titleInput {
    width: 150px;
}

#viewNoteSection {
    text-align: center;
}
