button {
    background-color: #F4A789;
    border-radius: 5px;
    border: 1px solid #C0392B;
    cursor: pointer;
}

.ClearStorage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.SearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionName {
    text-align: center;
}

.TextInput {
    border-radius: 5px;
}