.App {
    display: grid;
    grid-template-areas: 
        'appName appName appName'
        'prevNotes notes search'
        'clear clear clear';
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    gap: 10px;
}

.AppName {
    grid-area: appName;
    text-align: center;
    align-content: center;
    /*background-color: yellow;*/
    border-bottom: 2px solid lightblue;
}

button {
    background-color: #F4A789;
    border-radius: 5px;
    border: 1px solid #C0392B;
    margin: 5px;
    cursor: pointer;
}

.ClearStorage {
    grid-area: clear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
    border-top: 2px solid lightblue;
}

.ContentInput {
    border-radius: 5px;
    height: 70%;
    width: 40%;
    resize: none;
}

h1, h2 {
    margin: 0;
}

.NoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.NoteSection {
    grid-area: notes;
    /*background-color: lightgreen;*/
}

.PreviousNotesSection {
    grid-area: prevNotes;
    /*background-color: lightblue;*/
    border-right: 2px solid lightblue;
}

.SearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchSection {
    grid-area: search;
    /*background-color: pink;*/
    border-left: 2px solid lightblue;
}

.SectionName {
    text-align: center;
}

.TitleAndTagInput {
    border-radius: 5px;
}
